section{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS13ML1BxasoIP_No_kKObNAR-48O5vgHcmsw&usqp=CAU");
    background-position: center;
    background-size: cover;
    padding: 10px 10px ;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
form{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3.5px );
-webkit-backdrop-filter: blur( 3.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px 20px;
    height: 53vh;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
form div {
    padding: 30px 20px;
    height: 35vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
form h3{
    color: black;
    font-weight: bold;
}
form span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form button{
    height: 45px;
    font-size: 20px;
    width: 120px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    transition: all ease-in-out 0.3s;
}
form button:hover{
    background-color: white;
    letter-spacing: 1px;
    color: black;
    font-weight: bold;
}
form input{
    padding: 10px;
    height: 40px;
    width: 45%;
}
.second{
    padding: 30px 40px;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3.5px );
-webkit-backdrop-filter: blur( 3.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 30vh;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.second input{
    padding: 10px;
    margin-left: 25px;
    height: 45px;
}